* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(20, 20, 20);
    box-shadow: 0 0 10px black;
    padding: 20px auto;
}

.navbar-nav {
    font-size: 20px;
    text-transform: uppercase; 
    margin-left: auto;
    text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 90vh;
}

.banner h1 {
    font-size: 17vw;
    color: white;
}

.banner h5 {
    font-size: 5vw;
    color: yellow;
}

.klik {
    margin-top: 70px;
}

.klik .btn1, .btn2 {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.btn1:hover {
    background-color: transparent;
    color: white;
}

.container.about, .container.portofolio, .container.gallery, .container.testimoni {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
    padding: 30px;
}

.about h1, .portofolio h1, .gallery h1, .testimoni h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: poppins;
    font-weight: bold;
}

.about img {
    width: 100%;
    height: auto;
}

.portofolio img {
    width: 180px;
    height: 180px;
}

.portofolio .programming, .portofolio .webdevelop, .portofolio .design {
    margin-top: 20px;
}

.about p, .gallery p {
    text-align: justify;
}

.gallery img {
    margin-bottom: 30px;
    width: 550px;
    height: 550px;
    border-radius: 50px;
}

.testi img {
    width: 250px;
    height: 250px;
    border: 8px solid rgb(0, 51, 68);
    border-radius: 50%;
    margin-bottom: 10px;
}

.testi {
    margin-top: 30px;
}

.contact {
    background-color: rgba(49, 80, 92, 0.2);
}

.contact h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    padding: 20px;
}

.contact .alamat, .contact .telepon, .contact .email {
    display: flex;
    margin: 20px;
    font-size: 30px;
    margin-bottom: 60px;
}

.contact .alamat1, .contact .telepon1, .contact .email1 {
    margin-left: 20px;
}

.contact i {
    font-size: 40px;
}

.contact .pesan {
    border: 2px solid rgba(122, 122, 122, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.contact .btn {
    float: right;
    text-transform: uppercase;
}

.footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: white;
    width: 100%;
    height: 50px;
}

p {
    margin: 0;
}

.logo {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0;
}

ul li {
        margin: 10px;
}

.panah {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 40px;
    margin: 20px;
}
