.banner h1 {
    font-size: 200px;
    letter-spacing: 25px;
    color: white;
}

.paragraph {
    text-align: justify;
}


/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
    html {
        font-size: 70%;
    }
    .banner h1 {
        font-size: 100px;
       }
}

/* LAPTOP */
@media (max-width: 992px) {
    html {
        font-size: 70%;
    }
    .banner h1 {
        font-size: 80px;
       }    
}

/* TABLET */
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }  
   .banner h1 {
    font-size: 70px;
   } 
}

/* MPHONE */
@media (max-width: 576px) {
    html {
        font-size: 55%;
    }  
    .banner h1 {
        font-size: 50px;
       } 
}
